@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #222831;
  color: #fbf7c6;
  font-family: 'Poppins', sans-serif;
}

button {
 padding: 20px 40px;
 margin: 10px;
 background-color: #30475e;
 color: #ffffff;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}
.rps {
  font-size: 6rem;
  transition: opacity 0.3s ease;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


button:hover {
  background-color: #1d2c3e;
}

.title {

  margin-left: 2rem;
}

.main-container {
  min-height: calc(100vh - 79.68px);
  text-align: center;
  display: flex;
}

#leftpanel {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: #30475e 0.8px solid;
  border-radius: 4px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#announcer,
#play-again,
#game-done {
  width: 80%;
}
.score {
  width: 80%;
  border: #30475e 0.8px solid;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 4px;
}

.score h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.score p {
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
}

#play-again {
  font-size: 2rem;
}

/**RIGHT PANEL**/
#rightpanel {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
}

#result {
  flex-basis: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#buttons {
  flex-basis: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: calc(100% - 16.5px); 
  padding: 10px 20px;
  border-radius: 4px;
  border: #4d7297 1px solid;
}


#player-card {
  margin: 0 1rem 1rem 1rem;
  font-size: 2rem;
}

#computer-card {
  margin: 0 1rem 1rem 0;
  font-size: 2rem;
}

.hands {
  font-size: 10rem;
}


/* .container {
  text-align: center;
  border:  #a19f89 0.2px solid;
  box-shadow: 0 0 10px rgba(251, 247, 198, 0.5);

} */

#announcer {
  font-size: 1.2rem;
  margin: 20px;
}


#game-done {
  font-size: 1.7rem;
  display: none;
}

/**ANIMATION**/
.card .hands
{
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card .hands.animate
 {
  opacity: 0;
}

